body{
  margin:0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  


}
main {
  width: 80vw;

}

.user-photo{
  width: 7em;
  height:7em;
  border-radius: 50%;
  float:left;
}

.user-text{
  float:left;
  margin-top: 0.8em;
  margin-left: 1em;
}


